<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginCheck</servlet-name>
    <servlet-class>xatu.XHX.servlet.LoginCheck</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Student</servlet-name>
    <servlet-class>xatu.ZX.servlet.StudentPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Teacher</servlet-name>
    <servlet-class>xatu.ZX.servlet.TeacherPage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>xatu.XHX.servlet.Register</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>ResetPassword</servlet-name>
    <servlet-class>xatu.XHX.servlet.ResetPassword</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Exit</servlet-name>
    <servlet-class>xatu.ZSL.servlet.Exit</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdataGrade</servlet-name>
    <servlet-class>xatu.ZSL.servlet.UpdataGrade</servlet-class>
  </servlet>



 <servlet-mapping>
    <servlet-name>ResetPassword</servlet-name>
    <url-pattern>/ResetPassword</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginCheck</servlet-name>
    <url-pattern>/LoginCheck</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Teacher</servlet-name>
    <url-pattern>/Teacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Exit</servlet-name>
    <url-pattern>/Exit</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>UpdataGrade</servlet-name>
    <url-pattern>/UpdataGrade</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>Login.jsp</welcome-file>
  </welcome-file-list>
</web-app>
